<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_14_wpf_zoo_managers.Properties.Settings.wpf_zooConnectionString"
            connectionString="Data Source=DESKTOP-NK2EH9I;Initial Catalog=wpf_zoo;User ID=phuongsover2;Password=Nguyensover1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>